.container {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
}

.titleContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0 10px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 80%;
}